.characters {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
    background: #c6c6c6;
}

.descriptions {
    margin-top: 45px;
}

.images {
    width: 268.83px;
    height: auto;
    position: static;
}

.relation-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 1px;
    background: #c6c6c6;
}

.botao {
    background-color: #F1BF2C;
}

.body {
    background-color: black;
}

.logo {
    width: auto;
    height: 80px;
    opacity: 0.5;
    filter: alpha(opacity=50);
}